$font-family: 'Helvetica', 'Arial', sans-serif;

$lightbrown: lighten(brown, 10%);
$brown: brown;
$lightgray: lightgray;
$gray: gray;
$darkgray: darkgray;
$light: #f4f4f4;
$white: white;
$black: black;
$blue: blue;
