.search-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.search-form__input-wrapper {
  position: relative;
  width: 80%;

  &--overflowed::after {
    content: "";
    position: absolute;
    display: block;
    top: 2px;
    right: 20px;
    width: 12%;
    height: 90%;
    background-image: linear-gradient(to right, rgba(231,231,226,0) 0%, white 100%);
  }
}

.search-form__input {
  width: 100%;
  padding: 10px;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid gray;
  outline: none;

  &:focus {
    border: 1px solid blue;
  }
}

.search-form__btn {
  position: relative;
  width: 20%;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: darkorange;
  color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;

  &--icon {
    text-indent: -9999px;
    background-image: url("../img/icons/search-icon.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  }

  &:hover {
    background-color: orangered;
  }

  &:disabled {
    opacity: 0.6;

    &:hover {
      background-color: darkorange;
      cursor: default;
    }
  }
}

.search-form__delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3px;
  right: 5px;
  width: 15px;
  font-size: 28px;
  font-weight: bold;
  background-color: transparent;
  color: lightgray;
  opacity: 0;
  transition: opacity 250ms ease-out;
  cursor: pointer;

  &--show {
    opacity: 1;

    &:hover {
      color: darkgray;
    }
  }
}
