.search-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.search-form__input {
  width: 80%;
  padding: 10px;
  padding-right: 5%;
  box-sizing: border-box;
  font-size: 16px;
  //background-color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid gray;
  outline: none;

  &:focus {
    border: 1px solid blue;
  }
}

.search-form__btn {
  width: 20%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: darkorange;
  color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
  }
}

.search-form__delete-btn {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3px;
  left: 74%;
  width: 5%;
  //height: 100%;
  font-size: 28px;
  font-weight: bold;
  background-color: inherit;
  color: lightgray;
  cursor: pointer;

  &--show {
    display: flex;
  }
}
