.tip {
  //position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    background-color: #f4f4f4;
  }
}

.tip__link {
  position: relative;
  margin-right: 10px;
  overflow: hidden;

  &--overflowed::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 8%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(231,231,226,0) 0%, white 100%);
  }
}

.tip:hover .tip__link--overflowed::after {
  background-image: linear-gradient(to right, rgba(231,231,226,0) 0%, #f4f4f4 100%);
}

.tip__type {
  margin-left: 5px;
  font-weight: normal;
  color: blue;
}

.tip__in {
  color: black;
}
