.tips-list {
  display: none;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(gray, 0.5);
  list-style: none;

  &--show {
    display: block;
  }
}
